.battle {
    width: 700px;
    height: 480px;
    padding-top: 20px;
    padding-left: 100px;
    color: white;
    display: none;
}

.bg-bridge {
    background-image: url(../img/background/bridge.png);
}

.bg-vulcan {
    background-image: url(../img/background/vulcan.jpg);
}
